{
    "openapi": "3.0.0",
    "info": {
        "title": "American Cloud",
        "description": "American Cloud OpenAPI Documentation",
        "contact": {
            "email": "ops@americancloud.io"
        },
        "license": {
            "name": "Apache 2.0",
            "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
        },
        "version": "0.3.0"
    },
    "servers": [
        {
            "url": "https://app.americancloud.com/api",
            "description": "API Server"
        }
    ],
    "paths": {
        "/block-storage/create": {
            "post": {
                "tags": [
                    "Block Storage"
                ],
                "summary": "Create a new block storage",
                "description": "Returns block storage",
                "operationId": "storeBlockStorage",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateBlockStorageRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Ok",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "job": {
                                            "$ref": "#/components/schemas/AsyncJobSchema"
                                        },
                                        "batch": {
                                            "$ref": "#/components/schemas/CreateBlockstorageSchema"
                                        },
                                        "message": {
                                            "description": "Ok",
                                            "type": "string",
                                            "example": "Creating block storage!"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "422": {
                        "description": "Unprocessable Content"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "401": {
                        "description": "Access Denied"
                    }
                },
                "security": [
                    {
                        "bearer_token": []
                    }
                ]
            }
        },
        "/block-storages": {
            "get": {
                "tags": [
                    "Block Storage"
                ],
                "summary": "Get list of block storage",
                "description": "Returns list of of block storage",
                "operationId": "listBlockStorage",
                "responses": {
                    "200": {
                        "description": "Ok",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BlockStorageResource"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "422": {
                        "description": "Unprocessable Content"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "401": {
                        "description": "Access Denied"
                    }
                },
                "security": [
                    {
                        "bearer_token": []
                    }
                ]
            }
        },
        "/block-storage/{block_storage}": {
            "get": {
                "tags": [
                    "Block Storage"
                ],
                "summary": "Get block storage by name",
                "description": "Returns block storage",
                "operationId": "showBlockStorage",
                "parameters": [
                    {
                        "name": "block_storage",
                        "in": "path",
                        "description": "Name of the block storage",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Ok",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BlockStorageSchema"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Block Storage Not Found"
                    }
                },
                "security": [
                    {
                        "bearer_token": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Block Storage"
                ],
                "summary": "Delete Block Storage",
                "description": "Delete block storage by name",
                "operationId": "destroyBlockStorage",
                "parameters": [
                    {
                        "name": "block_storage",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Ok",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "description": "Ok",
                                            "type": "string",
                                            "example": "Deleting block storage!"
                                        },
                                        "data": {
                                            "$ref": "#/components/schemas/DeleteBlockStorageSchema"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "401": {
                        "description": "Access Denied"
                    },
                    "404": {
                        "description": "Block Storage Not Found"
                    }
                },
                "security": [
                    {
                        "bearer_token": []
                    }
                ]
            }
        },
        "/block-storage/detach/{block_storage}": {
            "put": {
                "tags": [
                    "Block Storage"
                ],
                "summary": "Detach Instance from Block Storage",
                "description": "Detach instance from the block storage",
                "operationId": "detachBlockStorage",
                "parameters": [
                    {
                        "name": "block_storage",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Ok",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "job": {
                                            "$ref": "#/components/schemas/AsyncJobSchema"
                                        },
                                        "data": {
                                            "$ref": "#/components/schemas/DetachBlockStorageSchema"
                                        },
                                        "message": {
                                            "description": "Ok",
                                            "type": "string",
                                            "example": "Detaching instance from the block storage!"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "401": {
                        "description": "Access Denied"
                    },
                    "404": {
                        "description": "Block Storage Not Found"
                    }
                },
                "security": [
                    {
                        "bearer_token": []
                    }
                ]
            }
        },
        "/block-storage/attach/{block_storage}": {
            "put": {
                "tags": [
                    "Block Storage"
                ],
                "summary": "Attach Instance to the Block Storage",
                "description": "Attach instance to the block storage by instance name",
                "operationId": "attachBlockStorage",
                "parameters": [
                    {
                        "name": "block_storage",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AttachBlockStorageRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Ok",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "job": {
                                            "$ref": "#/components/schemas/AsyncJobSchema"
                                        },
                                        "data": {
                                            "$ref": "#/components/schemas/AttachBlockStorageSchema"
                                        },
                                        "message": {
                                            "description": "Ok",
                                            "type": "string",
                                            "example": "Attaching instance from the block storage!"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "401": {
                        "description": "Access Denied"
                    },
                    "404": {
                        "description": "Block Storage Not Found"
                    }
                },
                "security": [
                    {
                        "bearer_token": []
                    }
                ]
            }
        },
        "/firewalls/{ip_address}": {
            "get": {
                "tags": [
                    "Firewall"
                ],
                "summary": "List of Firewall Rules",
                "description": "Returns list of Firewall Rules",
                "operationId": "listFirewall",
                "parameters": [
                    {
                        "name": "ip_address",
                        "in": "path",
                        "description": "the ip address of the firewall rules",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Ok",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FirewallResource"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "401": {
                        "description": "Access Denied"
                    },
                    "404": {
                        "description": "Resource Not Found"
                    }
                },
                "security": [
                    {
                        "bearer_token": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Firewall"
                ],
                "summary": "Destroy Firewall Rules",
                "description": "Returns Destroy Firewall",
                "operationId": "destroyFirewall",
                "parameters": [
                    {
                        "name": "ip_address",
                        "in": "path",
                        "description": "The ip address of the firewall rule.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Ok",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "description": "Ok",
                                            "type": "string",
                                            "example": "Deleting Firewall Rule !"
                                        },
                                        "job": {
                                            "$ref": "#/components/schemas/AsyncJobSchema"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "401": {
                        "description": "Access Denied"
                    },
                    "404": {
                        "description": "Resource Not Found"
                    }
                },
                "security": [
                    {
                        "bearer_token": []
                    }
                ]
            }
        },
        "/firewalls": {
            "post": {
                "tags": [
                    "Firewall"
                ],
                "summary": "Create a new Firewall Rule",
                "description": "Returns Firewall Rule",
                "operationId": "createFirewall",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateFirewallRuleRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Ok",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "description": "Ok",
                                            "type": "string",
                                            "example": "Creating Firewall rule !"
                                        },
                                        "job": {
                                            "$ref": "#/components/schemas/AsyncJobSchema"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "422": {
                        "description": "Unprocessable Content"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "401": {
                        "description": "Access Denied"
                    },
                    "404": {
                        "description": "Resource Not Found"
                    }
                },
                "security": [
                    {
                        "bearer_token": []
                    }
                ]
            }
        },
        "/port-forwarding": {
            "post": {
                "tags": [
                    "Firewall"
                ],
                "summary": "Create a new Port Forwarding Rule",
                "description": "Returns Port Forwarding Rule",
                "operationId": "createPortForwarding",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreatePortForwardingRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Ok",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "description": "Ok",
                                            "type": "string",
                                            "example": "Creating Port Forwarding rule !"
                                        },
                                        "job": {
                                            "$ref": "#/components/schemas/AsyncJobSchema"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "422": {
                        "description": "Unprocessable Content"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "401": {
                        "description": "Access Denied"
                    },
                    "404": {
                        "description": "Resource Not Found"
                    }
                },
                "security": [
                    {
                        "bearer_token": []
                    }
                ]
            }
        },
        "/port-forwarding/{ip_address}": {
            "get": {
                "tags": [
                    "Firewall"
                ],
                "summary": "List of Port Forwarding Rules",
                "description": "Returns list of Port Forwarding Rules",
                "operationId": "listPortForwarding",
                "parameters": [
                    {
                        "name": "ip_address",
                        "in": "path",
                        "description": "The ip address of the instance associated with port forwarding rule",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Ok",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PortForwardingResource"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "401": {
                        "description": "Access Denied"
                    },
                    "404": {
                        "description": "Resource Not Found"
                    }
                },
                "security": [
                    {
                        "bearer_token": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Firewall"
                ],
                "summary": "Destroy Port Forwarding Rules",
                "description": "Returns Destroy Port Forwarding",
                "operationId": "destroyPortForwarding",
                "parameters": [
                    {
                        "name": "ip_address",
                        "in": "path",
                        "description": "The ip address of the port forwarding rule",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Ok",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "description": "Ok",
                                            "type": "string",
                                            "example": "Deleting Port Forwarding Rule!"
                                        },
                                        "job": {
                                            "$ref": "#/components/schemas/AsyncJobSchema"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "401": {
                        "description": "Access Denied"
                    },
                    "404": {
                        "description": "Resource Not Found"
                    }
                },
                "security": [
                    {
                        "bearer_token": []
                    }
                ]
            }
        },
        "/network/egress_rule/{network}": {
            "post": {
                "tags": [
                    "Network"
                ],
                "summary": "Create a Egress Rule",
                "description": "Returns ACL List",
                "operationId": "addEgressRule",
                "parameters": [
                    {
                        "name": "network",
                        "in": "path",
                        "description": "Name of the Network",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateEgressRuleRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Ok",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "job": {
                                            "$ref": "#/components/schemas/AsyncJobSchema"
                                        },
                                        "message": {
                                            "description": "Ok",
                                            "type": "string",
                                            "example": "Egress rule created successfully"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "422": {
                        "description": "Unprocessable Content"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "401": {
                        "description": "Access Denied"
                    }
                },
                "security": [
                    {
                        "bearer_token": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Network"
                ],
                "summary": "Delete a Egress Rule",
                "description": "Returns Egress Rule",
                "operationId": "deleteRule",
                "parameters": [
                    {
                        "name": "network",
                        "in": "path",
                        "description": "Name of the Network",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/DeleteEgressRuleRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Ok",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "description": "Ok",
                                            "type": "string",
                                            "example": "Deleting Egress Rule !"
                                        },
                                        "job": {
                                            "$ref": "#/components/schemas/AsyncJobSchema"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "422": {
                        "description": "Unprocessable Content"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "401": {
                        "description": "Access Denied"
                    }
                },
                "security": [
                    {
                        "bearer_token": []
                    }
                ]
            }
        },
        "/cluster/create": {
            "post": {
                "tags": [
                    "Kubernetes"
                ],
                "summary": "Create a new Kubernetes",
                "description": "Returns Kubernetes",
                "operationId": "storeKubernetes",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateKubernetesRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Ok",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "description": "Ok",
                                            "type": "string",
                                            "example": "Creating kubernetes cluster"
                                        },
                                        "data": {
                                            "$ref": "#/components/schemas/CreateKubernetesSchema"
                                        },
                                        "batch": {
                                            "$ref": "#/components/schemas/KubernetesBatchSchema"
                                        },
                                        "job": {
                                            "$ref": "#/components/schemas/AsyncJobSchema"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "422": {
                        "description": "Unprocessable Content"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "401": {
                        "description": "Access Denied"
                    },
                    "404": {
                        "description": "Resource Not Found"
                    }
                },
                "security": [
                    {
                        "bearer_token": []
                    }
                ]
            }
        },
        "/clusters/{project}": {
            "get": {
                "tags": [
                    "Kubernetes"
                ],
                "summary": "Get list of Kubernetes",
                "description": "Returns list of Kubernetes",
                "operationId": "listKubernetes",
                "parameters": [
                    {
                        "name": "project",
                        "in": "path",
                        "required": true,
                        "description": "The name of the project",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Ok",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/KubernetesResource"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "401": {
                        "description": "Access Denied"
                    },
                    "404": {
                        "description": "Resource Not Found"
                    }
                },
                "security": [
                    {
                        "bearer_token": []
                    }
                ]
            }
        },
        "/cluster/{kubernetes}": {
            "get": {
                "tags": [
                    "Kubernetes"
                ],
                "summary": "Get Kubernetes",
                "description": "Returns Kubernetes",
                "operationId": "showKubernetes",
                "parameters": [
                    {
                        "name": "kubernetes",
                        "in": "path",
                        "description": "The name of the kubernetes cluster",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Ok",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/KubernetesResource"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "401": {
                        "description": "Access Denied"
                    },
                    "404": {
                        "description": "Resource Not Found"
                    }
                },
                "security": [
                    {
                        "bearer_token": []
                    }
                ]
            }
        },
        "/clusters/{kubernetes}": {
            "delete": {
                "tags": [
                    "Kubernetes"
                ],
                "summary": "Delete Kubernetes",
                "description": "Returns Kubernetes",
                "operationId": "destroyKubernetes",
                "parameters": [
                    {
                        "name": "kubernetes",
                        "in": "path",
                        "description": "The name of the kubernetes cluster",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Ok",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "description": "Ok",
                                            "type": "string",
                                            "example": "Deleting kubernetes cluster!"
                                        },
                                        "data": {
                                            "$ref": "#/components/schemas/DeleteKubernetesSchema"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "401": {
                        "description": "Access Denied"
                    },
                    "404": {
                        "description": "Resource Not Found"
                    }
                },
                "security": [
                    {
                        "bearer_token": []
                    }
                ]
            }
        },
        "/cluster/upgrade/{kubernetes}": {
            "post": {
                "tags": [
                    "Kubernetes"
                ],
                "summary": "Update a kubernetes",
                "description": "Returns Kubernetes",
                "operationId": "upgradeCluster",
                "parameters": [
                    {
                        "name": "kubernetes",
                        "in": "path",
                        "description": "The name of the kubernetes cluster",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UpgradeKubernetesRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Ok",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "description": "Ok",
                                            "type": "string",
                                            "example": "Upgrading Kubernetes Cluster !"
                                        },
                                        "job": {
                                            "$ref": "#/components/schemas/AsyncJobSchema"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "422": {
                        "description": "Unprocessable Content"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "401": {
                        "description": "Access Denied"
                    },
                    "404": {
                        "description": "Resource Not Found"
                    }
                },
                "security": [
                    {
                        "bearer_token": []
                    }
                ]
            }
        },
        "/cluster/stop/{kubernetes}": {
            "post": {
                "tags": [
                    "Kubernetes"
                ],
                "summary": "Stop Kubernetes",
                "description": "Returns Kubernetes",
                "operationId": "stopKubernetes",
                "parameters": [
                    {
                        "name": "kubernetes",
                        "in": "path",
                        "description": "The name of the kubernetes cluster",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Ok",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "description": "Ok",
                                            "type": "string",
                                            "example": "Stoping Kubernetes Cluster!"
                                        },
                                        "job": {
                                            "$ref": "#/components/schemas/AsyncJobSchema"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "401": {
                        "description": "Access Denied"
                    },
                    "404": {
                        "description": "Resource Not Found"
                    }
                },
                "security": [
                    {
                        "bearer_token": []
                    }
                ]
            }
        },
        "/clusters/start/{kubernetes}": {
            "post": {
                "tags": [
                    "Kubernetes"
                ],
                "summary": "Start Kubernetes",
                "description": "Returns Kubernetes",
                "operationId": "startKubernetes",
                "parameters": [
                    {
                        "name": "kubernetes",
                        "in": "path",
                        "description": "The name of the kubernetes cluster",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Ok",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "description": "Ok",
                                            "type": "string",
                                            "example": "Starting Kubernetes Cluster!"
                                        },
                                        "job": {
                                            "$ref": "#/components/schemas/AsyncJobSchema"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "401": {
                        "description": "Access Denied"
                    },
                    "404": {
                        "description": "Resource Not Found"
                    }
                },
                "security": [
                    {
                        "bearer_token": []
                    }
                ]
            }
        },
        "/cluster/config/{kubernetes}": {
            "get": {
                "tags": [
                    "Kubernetes"
                ],
                "summary": "Get Config Kubernetes",
                "description": "Returns Config Kubernetes",
                "operationId": "configCluster",
                "parameters": [
                    {
                        "name": "kubernetes",
                        "in": "path",
                        "description": "The name of the kubernetes cluster",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Ok",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/KubernetesResource"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "401": {
                        "description": "Access Denied"
                    },
                    "404": {
                        "description": "Resource Not Found"
                    }
                },
                "security": [
                    {
                        "bearer_token": []
                    }
                ]
            }
        },
        "/cluster/scale/{kubernetes}": {
            "post": {
                "tags": [
                    "Kubernetes"
                ],
                "summary": "Create a Scale Cluster",
                "description": "Returns Scale Cluster",
                "operationId": "scaleCluster",
                "parameters": [
                    {
                        "name": "kubernetes",
                        "in": "path",
                        "description": "The name of the kubernetes cluster",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateScaleClusterRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Ok",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "description": "Ok",
                                            "type": "string",
                                            "example": "Creating a scale cluster!"
                                        },
                                        "job": {
                                            "$ref": "#/components/schemas/AsyncJobSchema"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "422": {
                        "description": "Unprocessable Content"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "401": {
                        "description": "Access Denied"
                    },
                    "404": {
                        "description": "Resource Not Found"
                    }
                },
                "security": [
                    {
                        "bearer_token": []
                    }
                ]
            }
        },
        "/load-balancer/create": {
            "post": {
                "tags": [
                    "Load Balancer"
                ],
                "summary": "Create a new Load Balancer",
                "description": "Returns Load Balancer",
                "operationId": "load-balance-store",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateLoadBalancerRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Ok",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "description": "Ok",
                                            "type": "string",
                                            "example": "Creating Load Balancer!"
                                        },
                                        "data": {
                                            "$ref": "#/components/schemas/CreateLoadbalancerSchema"
                                        },
                                        "batch": {
                                            "$ref": "#/components/schemas/CreateLoadbalancerBatchSchema"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "422": {
                        "description": "Unprocessable Content"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "401": {
                        "description": "Access Denied"
                    },
                    "404": {
                        "description": "Resource Not Found"
                    }
                },
                "security": [
                    {
                        "bearer_token": []
                    }
                ]
            }
        },
        "/load-balancers/{project}": {
            "get": {
                "tags": [
                    "Load Balancer"
                ],
                "summary": "Get list of Load Balancers",
                "description": "Returns list of Load Balancers",
                "operationId": "LoadBalancersList",
                "parameters": [
                    {
                        "name": "project",
                        "in": "path",
                        "description": "The name of the project",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Ok",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/LoadBalancerResource"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "401": {
                        "description": "Access Denied"
                    },
                    "404": {
                        "description": "Resource Not Found"
                    }
                },
                "security": [
                    {
                        "bearer_token": []
                    }
                ]
            }
        },
        "/load-balancers/{load_balancer}": {
            "get": {
                "tags": [
                    "Load Balancer"
                ],
                "summary": "Get Load Balancer ",
                "description": "Returns Load Balancer",
                "operationId": "LoadBalancerShow",
                "parameters": [
                    {
                        "name": "load_balancer",
                        "in": "path",
                        "description": "The name of the load balancer",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Ok",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/LoadBalancerResource"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "401": {
                        "description": "Access Denied"
                    },
                    "404": {
                        "description": "Resource Not Found"
                    }
                },
                "security": [
                    {
                        "bearer_token": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "Load Balancer"
                ],
                "summary": "Update Load Balancer Config ",
                "description": "Returns Load Balancer Config",
                "operationId": "load-balacner-update",
                "parameters": [
                    {
                        "name": "load_balancer",
                        "in": "path",
                        "description": "The name of the load balancer",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UpdateLoadBalancerRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Ok",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "description": "Ok",
                                            "type": "string",
                                            "example": "Updating Load Balancer Config !"
                                        },
                                        "job": {
                                            "$ref": "#/components/schemas/AsyncJobSchema"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "422": {
                        "description": "Unprocessable Content"
                    },
                    "401": {
                        "description": "Access Denied"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Resource Not Found"
                    }
                },
                "security": [
                    {
                        "bearer_token": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Load Balancer"
                ],
                "summary": "Delete Load Balancer",
                "description": "Returns Load Balancer",
                "operationId": "destroyLoadBalancer",
                "parameters": [
                    {
                        "name": "load_balancer",
                        "in": "path",
                        "description": "The name of the load balancer",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Ok",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "description": "Ok",
                                            "type": "string",
                                            "example": "Deleting load balancer and rules!"
                                        },
                                        "batch": {
                                            "$ref": "#/components/schemas/CreateLoadbalancerBatchSchema"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "401": {
                        "description": "Access Denied"
                    },
                    "404": {
                        "description": "Resource Not Found"
                    }
                },
                "security": [
                    {
                        "bearer_token": []
                    }
                ]
            }
        },
        "/load-balancer/rule/{load_balancer}": {
            "post": {
                "tags": [
                    "Load Balancer"
                ],
                "summary": "Create Load Balancer Rule ",
                "description": "Returns Load Balancer Rule",
                "operationId": "addRule",
                "parameters": [
                    {
                        "name": "load_balancer",
                        "in": "path",
                        "description": "The name of the load balancer",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AddLoadBalancerRuleRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Ok",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/CreateLoadBalancerRuleSchema"
                                        },
                                        "batch": {
                                            "$ref": "#/components/schemas/CreateLoadbalancerBatchSchema"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "422": {
                        "description": "Unprocessable Content"
                    },
                    "401": {
                        "description": "Access Denied"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Resource Not Found"
                    }
                },
                "security": [
                    {
                        "bearer_token": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Load Balancer"
                ],
                "summary": "Remove Load Balancer Rule",
                "description": "Returns Load Balancer Rule",
                "operationId": "removeRule",
                "parameters": [
                    {
                        "name": "load_balancer",
                        "in": "path",
                        "description": "The name of the load balancer",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/RemoveLoadBalancerRuleRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Ok",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "headers": {
                                            "$ref": "#/components/schemas/RemoveLoadBalancerRuleSchema"
                                        },
                                        "message": {
                                            "description": "Ok",
                                            "type": "string",
                                            "example": "Load Balancer Rule is deleted Successfully"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "422": {
                        "description": "Unprocessable Content"
                    },
                    "401": {
                        "description": "Access Denied"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Resource Not Found"
                    }
                },
                "security": [
                    {
                        "bearer_token": []
                    }
                ]
            }
        },
        "/network/ip-address/{network}": {
            "post": {
                "tags": [
                    "Network"
                ],
                "summary": "Create a Ip Address",
                "description": "Returns Ip Address",
                "operationId": "associateIpAddress",
                "parameters": [
                    {
                        "name": "network",
                        "in": "path",
                        "description": "Name of the Network",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateIpAddressRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Ok",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "description": "Ok",
                                            "type": "string",
                                            "example": "Acquiring IP Address!"
                                        },
                                        "job": {
                                            "$ref": "#/components/schemas/AsyncJobSchema"
                                        },
                                        "batch": {
                                            "$ref": "#/components/schemas/PublicIpAddressSchema"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "422": {
                        "description": "Unprocessable Content"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "401": {
                        "description": "Access Denied"
                    }
                },
                "security": [
                    {
                        "bearer_token": []
                    }
                ]
            }
        },
        "/network/enable-static-nat/{ip_address}": {
            "post": {
                "tags": [
                    "Network"
                ],
                "summary": "Enable Static Nat",
                "description": "Returns Ip Address",
                "operationId": "enableStaticNat",
                "parameters": [
                    {
                        "name": "ip_address",
                        "in": "path",
                        "description": "IP Address Of The Network",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/IpAddressStaticNatRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Ok",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "description": "Ok",
                                            "type": "string",
                                            "example": "Static NAT successfully enabled!"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "422": {
                        "description": "Unprocessable Content"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "401": {
                        "description": "Access Denied"
                    }
                },
                "security": [
                    {
                        "bearer_token": []
                    }
                ]
            }
        },
        "/network/disable-static-nat/{ip_address}": {
            "post": {
                "tags": [
                    "Network"
                ],
                "summary": "Disable Static Nat",
                "description": "Returns Ip Address",
                "operationId": "disableStaticNat",
                "parameters": [
                    {
                        "name": "ip_address",
                        "in": "path",
                        "description": "IP Address Of The Network",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Ok",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "description": "Ok",
                                            "type": "string",
                                            "example": "Static NAT successfully disabled!"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "422": {
                        "description": "Unprocessable Content"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "401": {
                        "description": "Access Denied"
                    }
                },
                "security": [
                    {
                        "bearer_token": []
                    }
                ]
            }
        },
        "/network/ip-address/{ip_address}": {
            "delete": {
                "tags": [
                    "Network"
                ],
                "summary": "Delete a Ip Address",
                "description": "Returns Ip Address",
                "operationId": "disassociateIpAddress",
                "parameters": [
                    {
                        "name": "ip_address",
                        "in": "path",
                        "description": "IP Address of the Network",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Ok",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "description": "Ok",
                                            "type": "string",
                                            "example": "Deleting Public IP Address !"
                                        },
                                        "job": {
                                            "$ref": "#/components/schemas/AsyncJobSchema"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "422": {
                        "description": "Unprocessable Content"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "401": {
                        "description": "Access Denied"
                    }
                },
                "security": [
                    {
                        "bearer_token": []
                    }
                ]
            }
        },
        "/network/create": {
            "post": {
                "tags": [
                    "Network"
                ],
                "summary": "Create a new Network",
                "description": "Returns Network",
                "operationId": "storeNetwork",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateNetworkRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Ok",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "description": "Ok",
                                            "type": "string",
                                            "example": "Network Created Successfully"
                                        },
                                        "data": {
                                            "$ref": "#/components/schemas/NetworkSchema"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "422": {
                        "description": "Unprocessable Content"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "401": {
                        "description": "Access Denied"
                    },
                    "404": {
                        "description": "Resource Not Found"
                    }
                },
                "security": [
                    {
                        "bearer_token": []
                    }
                ]
            }
        },
        "/network/{network}": {
            "get": {
                "tags": [
                    "Network"
                ],
                "summary": "Get Network ",
                "description": "Returns network",
                "operationId": "networkShow",
                "parameters": [
                    {
                        "name": "network",
                        "in": "path",
                        "description": "The name of the network",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Ok",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/NetworkResource"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "401": {
                        "description": "Access Denied"
                    },
                    "404": {
                        "description": "Resource Not Found"
                    }
                },
                "security": [
                    {
                        "bearer_token": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Network"
                ],
                "summary": "Destroy Network",
                "description": "Returns Network",
                "operationId": "destroyNetwork",
                "parameters": [
                    {
                        "name": "network",
                        "in": "path",
                        "description": "The name of the network",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Ok",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "description": "Ok",
                                            "type": "string",
                                            "example": "Deleting Network !"
                                        },
                                        "batch": {
                                            "$ref": "#/components/schemas/DeleteNetworkSchema"
                                        },
                                        "job": {
                                            "$ref": "#/components/schemas/AsyncJobSchema"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "401": {
                        "description": "Access Denied"
                    },
                    "404": {
                        "description": "Resource Not Found"
                    }
                },
                "security": [
                    {
                        "bearer_token": []
                    }
                ]
            }
        },
        "/networks/{project}": {
            "get": {
                "tags": [
                    "Network"
                ],
                "summary": "Get list of networks",
                "description": "Returns list of networks",
                "operationId": "networkList",
                "parameters": [
                    {
                        "name": "project",
                        "in": "path",
                        "description": "The name of the project",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Ok",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/NetworkResource"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "401": {
                        "description": "Access Denied"
                    },
                    "404": {
                        "description": "Resource Not Found"
                    }
                },
                "security": [
                    {
                        "bearer_token": []
                    }
                ]
            }
        },
        "/project/create": {
            "post": {
                "tags": [
                    "Project"
                ],
                "summary": "Create a new project",
                "description": "Returns project",
                "operationId": "store",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateProjectRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Ok",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "description": "Ok",
                                            "type": "string",
                                            "example": "Project created successfully"
                                        },
                                        "data": {
                                            "$ref": "#/components/schemas/ProjectSchema"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "422": {
                        "description": "Unprocessable Content"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "401": {
                        "description": "Access Denied"
                    }
                },
                "security": [
                    {
                        "bearer_token": []
                    }
                ]
            }
        },
        "/project/{project}": {
            "put": {
                "tags": [
                    "Project"
                ],
                "summary": "Update existing project",
                "description": "Returns updated project",
                "operationId": "update",
                "parameters": [
                    {
                        "name": "project",
                        "in": "path",
                        "description": "Project name",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UpdateProjectRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Ok",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "description": "Ok",
                                            "type": "string",
                                            "example": "Project updated successfully"
                                        },
                                        "data": {
                                            "$ref": "#/components/schemas/ProjectSchema"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "422": {
                        "description": "Unprocessable Content"
                    },
                    "401": {
                        "description": "Access Denied"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Resource Not Found"
                    }
                },
                "security": [
                    {
                        "bearer_token": []
                    }
                ]
            }
        },
        "/projects": {
            "get": {
                "tags": [
                    "Project"
                ],
                "summary": "Get list of projects",
                "description": "Returns list of projects",
                "operationId": "listProjects",
                "responses": {
                    "200": {
                        "description": "Ok",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProjectResource"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "security": [
                    {
                        "bearer_token": []
                    }
                ]
            }
        },
        "/snapshot/create/{block_storage}": {
            "post": {
                "tags": [
                    "Snapshot"
                ],
                "summary": "Create a Snapshot",
                "description": "Returns Snapshot",
                "operationId": "createSnapshot",
                "parameters": [
                    {
                        "name": "block_storage",
                        "in": "path",
                        "description": "Name of the block storage",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateSnapshotRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Ok",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "description": "Ok",
                                            "type": "string",
                                            "example": "Creating Snapshot !"
                                        },
                                        "job": {
                                            "$ref": "#/components/schemas/AsyncJobSchema"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "422": {
                        "description": "Unprocessable Content"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "401": {
                        "description": "Access Denied"
                    }
                },
                "security": [
                    {
                        "bearer_token": []
                    }
                ]
            }
        },
        "/snapshots/{block_storage}/{project}": {
            "get": {
                "tags": [
                    "Snapshot"
                ],
                "summary": "Get list of snapshots",
                "description": "Returns list of snapshots",
                "operationId": "listSnapshot",
                "parameters": [
                    {
                        "name": "project",
                        "in": "path",
                        "description": "Name of the project",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "block_storage",
                        "in": "path",
                        "description": "Name of the block storage",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Ok",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SnapshotResource"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "422": {
                        "description": "Unprocessable Content"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "401": {
                        "description": "Access Denied"
                    }
                },
                "security": [
                    {
                        "bearer_token": []
                    }
                ]
            }
        },
        "/snapshot/{snapshot}": {
            "get": {
                "tags": [
                    "Snapshot"
                ],
                "summary": "Get list of snapshot",
                "description": "Returns list of snapshot",
                "operationId": "showSnapshot",
                "parameters": [
                    {
                        "name": "snapshot",
                        "in": "path",
                        "description": "Name of the snapshot",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Ok",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SnapshotResource"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "422": {
                        "description": "Unprocessable Content"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "401": {
                        "description": "Access Denied"
                    }
                },
                "security": [
                    {
                        "bearer_token": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Snapshot"
                ],
                "summary": "Get list of snapshot",
                "description": "Returns list of snapshot",
                "operationId": "destroySnapshot",
                "parameters": [
                    {
                        "name": "snapshot",
                        "in": "path",
                        "description": "Name of the snapshot",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Ok",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "description": "Ok",
[...]
